altgraph==0.17
beautifulsoup4==4.4.1
cchardet==2.1.7
chardet==4.0.0
cssutils==2.2.0
enum34==1.1.10
ffmpeg-python==0.2.0
future==0.18.2
lxml==4.6.3
pefile==2019.4.18
pycaption==1.0.2
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pysrt==1.1.2
pywin32-ctypes==0.2.0
six==1.15.0
youtube-dl==2021.3.14
