altgraph==0.17
beautifulsoup4==4.4.1
bleach==3.3.0
cchardet==2.1.7
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
cssutils==2.2.0
docutils==0.16
enum34==1.1.10
ffmpeg-python==0.2.0
future==0.18.2
idna==2.10
importlib-metadata==3.10.0
keyring==23.0.1
lxml==4.6.3
packaging==20.9
pefile==2019.4.18
pkginfo==1.7.0
pycaption==1.0.2
Pygments==2.8.1
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pyparsing==2.4.7
pysrt==1.1.2
pywin32-ctypes==0.2.0
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
soupsieve==2.2.1
tqdm==4.59.0
twine==3.4.1
urllib3==1.26.4
webencodings==0.5.1
youtube-dl==2021.3.31
zipp==3.4.1
